<% layout('layouts/boilerplate') %>
<form id="checkout-form" action="/campgrounds/<%=campgroundId %>/reservations/<%=reservationId %>/create-checkout-session" method="POST">

  <% if (currentUser && storeItems.size > 0) { %>
    <% Array.from(storeItems).forEach(([index, storeItem]) => { %>
      <label class="form-label" for="resID_<%= index %>">Reservation ID</label>
      <input class="form-control" type="text" id="resID_<%= index %>" name="storeItems[<%= index %>][name]"
        value="<%= storeItem.name %>" readonly >
      <button class="btn btn-sm btn-danger delete-reservation" data-index="<%= index %>">Delete</button>
      
      <label class="form-label" for="campgroundtitle_<%= index %>">Campground title</label>
      <input class="form-control" type="text" id="campgroundtitle_<%= index %>" name="storeItems[<%= index %>][campground]"
        value="<%= storeItem.campground %>" readonly>

      <label class="form-label" for="startdate_<%= index %>">Start Date</label>
      <input class="form-control" type="date" id="startdate_<%= index %>" name="storeItems[<%= index %>][startDate]"
        value="<%= storeItem.startDate.toISOString().split('T')[0] %>">

      <label class="form-label" for="enddate_<%= index %>">End Date</label>
      <input class="form-control" type="date" id="enddate_<%= index %>" name="storeItems[<%= index %>][endDate]"
        value="<%= storeItem.endDate.toISOString().split('T')[0] %>">

      <label class="form-label" for="status_<%= index %>">Status</label>
      <input class="form-control" type="text" id="status_<%= index %>" name="storeItems[<%= index %>][status]"
        value="<%= storeItem.status %>">

      <label class="form-label" for="price_<%= index %>">Total price</label>
      <input class="form-control" type="number" id="price_<%= index %>" name="storeItems[<%= index %>][price]"
        value="<%= storeItem.price %>">
    <% }); %>
  <% } %>

  <button type="submit">Checkout</button>
</form>

<script>
  document.querySelectorAll('.delete-reservation').forEach(button => {
    button.addEventListener('click', async event => {
      event.preventDefault(); // Prevent default form submission
      const index = event.target.dataset.index;
      const form = document.getElementById('checkout-form');
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = `storeItems[${index}][delete]`;
      input.value = 'true';
      form.appendChild(input);
      event.target.closest('.form-group').remove();
    });
  });
</script>
